:root{
    --shadow: 0 12px 4px -4px rgba(0, 0, 0, 0.15);
    --purple: #9333ea;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Arial', sans-serif, system-ui;
    display: grid;
    grid-template: 150px calc(100vh - 150px) / minmax(300px, 15%) 1fr;
    grid-template-areas:
    "sidebar header"
    "sidebar main-content"
}

.purple{
    background-color: var(--purple);
}

.center-align{
    align-items: center;
}

.sidebar{
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 75px 300px 300px;
}

.sidebar-nav-one{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    list-style: none;
}

.sidebar-nav-two{
    list-style: none;
    display: grid;
    grid-template-rows: repeat(3, calc(300px / 6));
}

.header{
    grid-area: header;
    display: grid;
    grid-template: repeat(2, 75px)/ 75% 25%;
    background-color: aqua;
    padding: 0px 3rem 3rem;
}

.header-searchbar{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.header-profile{
    display: grid;
    grid-template-columns: 50px 50px 1fr;
}

.header-profile img{
    width: 40px;
    border-radius: 50%;
}

.header-big-profile{
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
    font-weight: bold;
}

.intro{
    font-size: 1.2rem;
}

.intro p{
    margin: 0px;
}

.header-big-profile img{
    width: 60px;
    border-radius: 50%;
}

.header-buttons{
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    gap: 15px;
}

.header-buttons button{
    background-color: var(--purple);
    border: none;
    border-radius: 16px;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 8px;
    color: white;
}

.main-content{
    grid-area: main-content;
    background-color: red;
    padding: 20px;
    display: grid;
    grid-template: 24px calc(50% - 24px) 24px calc(50% - 48px) / 80% 20%;
    grid-template-areas:
    "projects-header announcements-header"
    "projects-cards announcements-box"
    "projects-cards trending-header"
    "projects-cards trending-box"
}

.projects-header{
    grid-area: projects-header;
}


.projects-cards{
    grid-area: projects-cards;
    display: grid;
    gap: 24px;
    margin-right: 24px;
}

.announcements-header{
    grid-area: announcements-header;
}

.card{
    background-color: white;
    border-radius: 10px;
}

.announcements-box{
    grid-area: announcements-box;
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
}

.trending-header{
    grid-area: trending-header;
}

.trending-users{
    grid-area: trending-box;
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
}

.trending-users div p > img{
    width: 60px;
    border-radius: 50%;
}

h2{
    margin: 0px 0px;
}