:root{
    --shadow: 0 12px 4px -4px rgba(0, 0, 0, 0.15);
    --purple: #9333ea;
}

body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template: 150px 150px calc(100vh - 300px) / 25vh 1fr;
    grid-template-areas:
    "sidebar header"
    "sidebar main-content"
    "sidebar main-content"
}

.purple{
    background-color: var(--purple);
}

.sidebar{
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 75px 300px 300px;
}

.sidebar-nav-one{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    list-style: none;
}

.sidebar-nav-two{
    list-style: none;
    display: grid;
    grid-template-rows: repeat(3, calc(300px / 6));
}

.header{
    grid-area: header;
    background-color: aqua;
}

.main-content{
    grid-area: main-content;
    background-color: red;
}